.rule-wrapper {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rule-wrapper.first {
    padding-top: 40px;
}

.rule-heading {
    font-size: 24px;
    color: #272635;
    padding: 5px 15px;
}

.french-in-english {
    font-style: italic;
}

.rule-example {
    background-color: #272635BB;
    border-radius: 0 20px 20px 0;
    padding: 5px 50px;
    font-size: 24px;
    color: white;
}

.special-word {
    color: #b1e5f2;
}

.rule-translation {
    font-size: 20px;
    color: #272635;
    padding: 5px 15px;
}

.right.rule-wrapper {
    align-items: flex-end;
}
.right .rule-example {
    border-radius: 20px 0 0 20px;
    text-align: right;
}

.rule-explanation {
    font-size: 20px;
    color: #272635;
    padding: 5px 30px 15px;
}

.whole .rule-example {
    width: 100%;
    border-radius: 0;
    text-align: center;
}

.rule-wrapper.whole {
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
}

.chosen-icon {
    filter: brightness(0) saturate(100%) invert(90%) sepia(11%) saturate(1005%) hue-rotate(158deg) brightness(98%) contrast(93%);
}