.page-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #272635;
}

.name-header {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100px;
    border-bottom: 3px solid #B1E5F2;
}

.app-name {
    margin: 10px;
    font-size: 48px;
    color: white;
}

.vert-line {
    position: absolute;
    top: 100px;
    left: 80%;
    height: calc(100% - 150px);
    border-right: 3px solid #B1E5F2;
}

.description {
    text-align: center;
    margin: 50px auto 20px;
    position: relative;
    z-index: 1;
    width: 80%;
    padding: 20px;
    color: #B1E5F2;
    background-color: #272635DD;
    font-size: 32px;
    border: 3px solid #B1E5F2;
    line-height: 1.15;
}

.special-text {
    color: white;
}

.topic-list {
    display: flex;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.topic-box {
    z-index: 1;
    border: 3px solid #B1E5F2;
    color: #B1E5F2;
    background-color: #272635DD;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px 0;
    padding: 20px;
}

.particles-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.mobile-footer-container {
    position: relative;
    background-color: #272635DD;
    margin: 20px auto 50px;
    z-index: 1;
    width: 80%;
    color: #B1E5F2;
    font-size: 32px;
    border: 3px solid #B1E5F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-link-wrapper {
    text-align: center;
    background-color: #272635DD;
    padding: 30px;
    width: 50%;
}

.footer-link-wrapper:first-of-type {
    border-right: 3px solid #B1E5F2;
}

.desktop-nav {
    display: none;
}

.topic-nav-list {
    display: none;
}

.vert-line-desktop {
    display: none;
}

.box-hover, .desktop-nav-link {
    transform: scale(1);
    transition: all 0.5s;
    cursor: pointer;
}

.box-hover:hover, .desktop-nav-link:hover {
    transform: scale(1.05);
    border-color: white;
    color: white;
}

.topic-nav-link.box-hover, .desktop-nav-link {
    transform-origin: bottom left;
}

.topic-nav-link.box-hover:hover, .desktop-nav-link:hover {
    text-decoration: underline;  
}

@media only screen and (min-width: 1000px) {

    .name-header {
        align-content: flex-end;
        justify-content: space-between;
    }

    .app-name {
        margin: 10px 40px;
    }

    .desktop-nav {
        display: block;
    }

    .desktop-nav-list {
        display: flex;
        color: #B1E5F2;
        font-size: 32px;
    }

    .desktop-nav-link {
        margin: 10px 40px 10px 0;
    }

    .description {
        position: absolute;
        z-index: 1;
        width: 25%;
        left: 10%;
    }

    .vert-line {
        position: absolute;
        left: 65%;
        height: calc(100% - 130px);
        border-right: 3px solid #B1E5F2;
    }

    .vert-line-desktop {
        display: block;
        position: absolute;
        top: 100px;
        left: 30%;
        height: 50px;
        border-right: 3px solid #B1E5F2;
    }

    .topic-box {
        width: 40%;
    }

    .topic-box:first-of-type {
        margin-top: 50px;
    }

    .mobile-footer-container {
        display: none;
    }

    .topic-nav-list {
        margin-top: 40px;
        display: block;
        font-size: 24px;
        text-align: left;
    }

    .topic-nav-link {
        margin: 10px;
    }
}