.summary {
    margin-left: 15px;
    z-index: 1;
    position: relative;
    font-size: 24px;
    cursor: pointer;
}

.text {
    font-size: 18px;
    margin: 30px;
    animation: appear 0.4s forwards;
    text-align: justify;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 750px) {       
    .summary::after, summary:before {
        position: absolute;
        content: '';
        top: 0;
        height: 50%;
        width: calc(50% - 225px);
        border-bottom: 2px solid #272635;
    }
    .summary::after {
        left: 50px;
    }
    .summary::before {
        right: 50px;
    }

    .summary {
        margin-left: 0;
        text-align: center;
        list-style: none;
    } 
    .summary::-webkit-details-marker {
        display: none;
    }
}