.container {
    position: relative;
    background-color: #272635;
    margin: 0 15px;
    border: 2px solid #272635;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 120px;
}

.tabs-container {
    display: flex;
}

.tab {
    padding: 5px;
    flex: 1;
    min-height: 75px;
    border: none;
    border-right: 2px solid #272635;
    background-color: #E5E5E5;
    font-size: 24px;
    font-weight: bold;
    color: #272635;
    cursor: pointer;
}

.tabs-container button:first-of-type {
    border-radius: 20px 0 0 0;
}

.tabs-container button:last-of-type {
    border-radius: 0 20px 0 0;
    border: none;
}

.french-text {
    color: white;
    background-color: #272635;
    padding: 15px;
    text-align: center;
    font-size: 24px;
}

.translation-container {
    display: flex;
}

.translation-container p {
    background-color: #E5E5E5;
    padding: 20px;
}

.next-button,
.previous-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 60px;
    width: 60px;
    border: none;
    cursor: pointer;
}

.next-button img,
.previous-button img {
    pointer-events: none;
    height: 45px;
    width: 45px;
}

.next-button {
    border-radius: 0 0 20px 0;
    border-left: 2px solid #272635;
}

.previous-button {
    border-radius: 0 0 0 20px;
    border-right: 2px solid #272635;
}

.previous-button img {
    transform: scaleX(-1);
}

.translation {
    flex: 1;
    font-size: 20px;
    color: #272635;
    text-align: center;
}

.tab.tab-selected {
    background-color: #272635;
    color: #b1e5f2;
}

.hints {
    display: flex;
    position: absolute;
    top: 100%;
    width:100%;
    padding-top: 10px;
    font-size: 18px;
    color: #272635BB;
    justify-content: space-between;
}

.tapHint {
    width: 50%;
}