.container {
    display: none;
    animation: appear 0.25s forwards;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #272635EE;
    color: white;
    min-height: 100vh;
    padding: 50px 50px;
}

.menu-button {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 25px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: #272635;
    z-index: 2;
    background-image: url("../../static/hamburger.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.app-name {
    display: block;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 36px;
    margin-bottom: 30px;
    transform: scale(1);
    transform-origin: bottom left;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.app-name:hover {
    transform: scale(1.05);
    border-color: white;
    color: white;
}

.particles-background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
}

.active {
    display: flex;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        display: block;
        width: 300px;
        padding: 20px;
      }
      
    .menu-button {
        display: none;
    }

    .active {
        display: block;
    }

    button.active {
        display: none;
    }
}