.post-subtitle {
    background-color: #272635;
    padding: 15px 30px;
    text-align: right;
    font-size: 32px;
    color: #b1e5f2;
}

@media only screen and (min-width: 750px) {
    .post-subtitle {
        border-radius: 20px;
    }
}