.container {
    position: relative;
    z-index: 1;
    padding: 15px 30px;
    background-color: #272635;
    color: #E5E5E5;
    font-size: 14px;
}

.container a, address a {
    color: #b1e5f2;
}

.footer-text {
    margin-bottom: 5px;
}

@media only screen and (min-width: 750px) {
    .container {
        width: 100%;
        padding: 15px calc(50% - 345px);
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        width: calc(100% - 300px);
        padding: 15px calc(50% - 470px);
        margin-left: 300px;
    }
}